root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4
csharp_new_line_before_open_brace = all
csharp_prefer_braces = false:silent
csharp_style_namespace_declarations = block_scoped:silent
dotnet_sort_system_directives_first = true

[*.{csproj,props,targets}]
indent_style = space
indent_size = 2

[*.{xml,pubxml}]
indent_style = tab

[*.{mjs,js,json}]
indent_style = space
indent_size = 4

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
